.cls-selected{background-color:green;}
.cls-ra{background-color:#fff;}
.cls-rb{background-color:gray;}
.cls-fa{background-color:#fff; border: 2px solid pink !important;}



.cls-fb{background-color:pink;}
.cls-ma{background-color:#fff;border: 2px solid royalblue !important;}
.cls-mb{background-color:royalblue;}
